:root {
    --primary-text-color: #737380;
    --secondary-text-color: #41414D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Saira', sans-serif;
}

a,
button {
    cursor: pointer;
}

.wrapper {
    background: #F0F0F5;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 110px;
    min-height: 100vh;
}

.content {
    display: flex;
    max-width: 1120px;
    width: 100%;
}

.back-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 23.5px;
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    border: none;
    background: none;
    padding: 0 15px;
}

svg.left {
    transform: rotate(90deg);
}

svg.right {
    transform: rotate(-90deg);
}

.empty-list {
    padding: 20px;
}

.empty-list .empty-list-icon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.empty-list .empty-list-icon svg {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    filter: brightness(0) saturate(100%) invert(49%) sepia(8%) saturate(535%) hue-rotate(202deg) brightness(90%) contrast(84%);
}

.empty-list .empty-list-message {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.empty-list .empty-list-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.empty-list .empty-list-button a {
    color: var(--primary-text-color);
}

.dropdown {
    position: relative;
    display: none;
    z-index: 99;
}

.dropdown.active {
    display: block;
    
}

.dropdown .block-touch {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.2;
}

.dropdown ul {
    margin-top: 3px;
    display: block;
    position: absolute;
    list-style: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    right: 0;
    padding: 12px 16px;
    width: 190px;
    z-index: 100;
}

.dropdown ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
}

.dropdown ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 750px) {
    .container {
        padding-top: 160px;
    }

    
}

/* HEADER */

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    justify-content: center;
}

header .content {
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
}

.logo a {
    font-weight: 400;
    font-size: 48px;
    font-family: 'Saira Stencil One', cursive;
    color: #5D5D6D;
    text-decoration: none;
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon .search-input {
    padding: 10px 16px;
    width: 342px;
    font-size: 14px;
    background: #F3F5F6;
    border: none;
    border-radius: 8px;
    color: var(--primary-text-color);
}

.input-icon button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 12px;
    border: none;
    cursor: pointer;
    background: none;
}

.input-icon button svg {
    width: 24px;
    height: 24px;
    color: var(--primary-text-color);
}

.btn-cart {
    display: flex;
    margin-left: 20px;
    position: relative;
    width: 30px;
    height: 30px;
}

.btn-cart a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-cart a svg {
    color: var(--primary-text-color);
}

.btn-cart a .cart-badge {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    background: #DE3838;
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 10px;
    right: 0;
    bottom: -7px;
}

@media (max-width: 750px) {
    .header {
        height: 130px;
        align-items: flex-start;
    }

    .header-buttons .input-icon {
        position: absolute;
        top: 80px;
        left: 15px;
        width: 100%;
    }

    .header-buttons .input-icon input {
        width: calc(100% - 30px);
    }

    .input-icon button {
        right: 40px;
    }
}

/* HEADER */

/* HOME */

.product-list-content {
    width: 100%;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}

.filters .categories {
    display: flex;
    list-style: none;
    gap: 40px;
}

.filters .categories li a {
    font-size: 16px;
    text-decoration: none;
    padding: 4px 0;
    color: var(--primary-text-color);
}

.filters .categories li a.active {
    font-weight: 600;
    border-bottom: 4px #FFA585 solid;
    color: var(--secondary-text-color);
}

.filters .categories-mobile {
    display: none;
}

.filters .categories-mobile .dropdown ul {
    left: 0;
}

.filters .categories-mobile button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-text-color);
    border: none;
    gap: 7px;
    background: none;
    border-bottom: 4px #FFA585 solid;
    color: var(--secondary-text-color);
}

.orderby button {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-text-color);
    border: none;
    gap: 7px;
    background: none;
}

.pagination {
    display: flex;
    justify-content: right;
    width: 100%;
    display: flex;
    list-style: none;
    padding: 20px 15px;
    gap: 2px;
}

.pagination li button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E9E9F0;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--primary-text-color);
    border: none;
}

.pagination-item.previous {
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item.previous i {
    font-size: 12px;
    padding-left: 5px;
}

.pagination-item.next {
    margin-left: 4px;
}

.pagination-item.next i {
    font-size: 12px;
    padding-left: 4px;
}

.pagination li button.active {
    font-size: 16px;
    font-weight: 600;
    color: #FFA585;
    background: #F5F5FA;
    border: 1px solid #FFA585;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* gap: 32px; */
}

.product-item {
    width: 25%;
    padding: 15px;
}

.product-item a {
    text-decoration: none;
}

.product-item .product-image {
    display: flex;
    border-radius: 8px 8px 0 0;
}

.product-item .product-image img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.product-info {
    background: #FFFFFF;
    width: 100%;
    padding: 0 12px;
}

.product-info hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #DCE2E6;
    /* margin: 1em 0; */
    padding: 0;
}

.product-info span {
    display: block;
    text-decoration: none;
    padding: 8px 0;
    color: var(--secondary-text-color);
    font-size: 16px;
}

.product-info span.price {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #09090A;
}

@media (max-width: 750px) {
    .product-item {
        width: 50%;
    }

    .filters .categories {
        display: none;
    }

    .filters .categories-mobile {
        display: block;
    }
}

/* HOME */

/* PRODUCT */

.product-details {
    padding-bottom: 89px;
}

.details-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.product-details-image {
    padding: 0 15px;
    width: 50%;
}

.product-details-image img {
    display: flex;
    width: 100%;
    border-radius: 4px;
}

.product-details-info {
    padding: 0 15px;
    width: 50%;
}

.details-top-info {
    height: 50%;
    color: var(--secondary-text-color);
}

.product-category {
    font-size: 15px;
    margin-bottom: 12px;
}

.product-name {
    font-weight: 300;
    font-size: 32px;
}

.product-price {
    font-weight: 600;
    font-size: 20px;
    color: #09090A;
    margin-bottom: 24px;
}

.shipping-message {
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 55px;
}

.product-description-title {
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}

.product-description-content {
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 55px;
}

.details-bottom-info {
    display: flex;
    flex: 1;
    flex-grow: 1;
    align-items: flex-end;
    height: 50%;
}

.product-details-info button {
    color: #F5F5FA;
    background: #115D8C;
    font-size: 16px;
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 4px;
}

.product-details-info button svg {
    filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(344%) hue-rotate(200deg) brightness(99%) contrast(97%);
}

@media (max-width: 750px) {

    .product-details-image {
        width: 100%;
        margin-bottom: 15px;
    }

    .product-details-info {
        width: 100%;
    }
}

/* PRODUCT */

/* CART */

.cart {
    width: 100%;
}

.cart-content {
    display: flex;
    flex-wrap: wrap;
}

.cart-products {
    width: 65%;
    padding: 0 15px;
}

.cart-products-top {
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.cart-products-top h3 {
    font-weight: 500;
    font-size: 24px;
}

.cart-products-top p {
    font-weight: 300;
    font-size: 16px;
}

.cart-product {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    margin-bottom: 16px;
    border-radius: 8px;
}

.cart-product-image {
    display: flex;
    width: 35%;
}

.cart-product-image img {
    width: 100%;
    border-radius: 8px 0 0 8px;
}

.cart-product-info {
    width: 65%;
    padding: 24px;
}

.cart-product-header,
.cart-product-bottom {
    display: flex;
    justify-content: space-between;
    color: var(--secondary-text-color);
}

.cart-product-header h3 {
    font-weight: 300;
    font-size: 20px;
}

.cart-product-header button {
    background: none;
    border: none;
}

.cart-product-bottom {
    align-items: flex-end;
}

.cart-product-bottom select {
    height: 40px;
    width: 65px;
    padding: 8px 12px;
    border-radius: 8px;
    background: #F3F5F6;
    border: 1px solid #A8A8B3;
    color: var(--primary-text-color);
    margin: 0;
    cursor: pointer;
}

.cart-product-bottom p {
    font-weight: 600;
    font-size: 16px;
    color: #09090A;
}

.cart-product-description {
    font-weight: 400;
    font-size: 12px;
    color: var(--secondary-text-color);
    padding: 12px 0 25px 0;
}

.cart-resume {
    width: 35%;
    height: 700px;
    padding: 0 15px;
}

.cart-resume-info {
    background: #FFFFFF;
    height: 100%;
    padding: 15px 24px;
    color: var(--secondary-text-color);
}

.resume-top-info {
    height: 50%;
    padding-bottom: 100px;
}

.cart-resume-info h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 29px;
}

.cart-resume-info hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #DCE2E6;
    margin-bottom: 8px;
    padding: 0;
}

.resume-values {
    margin-bottom: 24px;
}

.resume-values .resume-line {
    display: flex;
    justify-content: space-between;
}

.resume-values .resume-line p {
    font-weight: 400;
    font-size: 16px;
}

.total-value {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 40px;
}

.resume-top-info button {
    height: 44px;
    width: 100%;
    border-radius: 4px;
    border: none;
    background: #51B853;
    color: #F5F5FA;
    font-weight: 500;
    font-size: 16px;
}

.resume-bottom-info {
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.helpers {
    list-style: none;
}

.helpers li {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
}

.helpers li a {
    color: var(--primary-text-color);
}

@media (max-width: 750px) {

    .cart-products,
    .cart-resume,
    .cart-product-image,
    .cart-product-info {
        width: 100%;
    }

    .cart-product {
        display: block;
    }

    .cart-product-image img {
        border-radius: 8px 8px 0 0;
    }
}

/* CART */